@font-face {
  font-family: "iconfont"; /* Project id 2539921 */
  src: url('iconfont.woff2?t=1620699297893') format('woff2'),
       url('iconfont.woff?t=1620699297893') format('woff'),
       url('iconfont.ttf?t=1620699297893') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yumaobi:before {
  content: "\e605";
}

.icon-fangdajing:before {
  content: "\e662";
}

.icon-Aa:before {
  content: "\e600";
}

